<main class="wrapper">
  <section class="select-values">
    <div class="select-values__select">
      <div class="select-values__slider-wrapper">
        <mat-slider thumbLabel class="select-values__slider" tickInterval="10" step="10" [max]="maxValue"
          [min]="minValue" [formControl]="valueControl" aria-label="units">
        </mat-slider>
      </div>
      <button class="select-values__reload">
        {{'ANALYSIS.reload' | translate}}
      </button>
    </div>
  </section>
  <section class="chart-assembly" *ngIf="probability$ | async as probability; else loading">
    <div class="chart-assembly__text"> {{'ANALYSIS.probability_diagrams' | translate}} </div>
    <section class="data">
      <div class="data__chart">
        <div echarts [options]="probability.temperature"></div>
      </div>
      <div class="data__line"></div>
      <div class="data__sensor">
        <img src="./assets/img/temperature.svg" alt="temperature" class="data__image">
        <div class="data__type">{{'ANALYSIS.temperature' | translate}}</div>
      </div>
    </section>
    <section class="data">
      <div class="data__chart">
        <div echarts [options]="probability.pressure"></div>
      </div>
      <div class="data__line"></div>
      <div class="data__sensor">
        <img src="./assets/img/pressure.svg" alt="pressure" class="data__image">
        <div class="data__type">{{'ANALYSIS.pressure' | translate}}</div>
      </div>
    </section>
    <section class="data">
      <div class="data__chart">
        <div echarts [options]="probability.humidity"></div>
      </div>
      <div class="data__line"></div>
      <div class="data__sensor">
        <img src="./assets/img/humidity.svg" alt="humidity" class="data__image">
        <div class="data__type">{{'ANALYSIS.humidity' | translate}}</div>
      </div>
    </section>
  </section>

  <section class="chart-assembly" *ngIf="correlation$ | async as correlation; else loading">
    <div class="chart-assembly__text"> {{'ANALYSIS.correlation' | translate}} </div>
    <section class="data">
      <div class="data__chart">
        <div echarts [options]="correlation.temperaturePressureChart"></div>
      </div>
      <div class="data__line"></div>
      <div class="data__sensor">
        <div class="data__type">{{'ANALYSIS.temperature' | translate}}</div>
        <div class="data__type">{{'ANALYSIS.coef' | translate}}: {{correlation.temperaturePressure}}</div>
        <div class="data__type">{{'ANALYSIS.pressure' | translate}}</div>
      </div>
    </section>
    <section class="data">
      <div class="data__chart">
        <div echarts [options]="correlation.temperatureHumidityChart"></div>
      </div>
      <div class="data__line"></div>
      <div class="data__sensor">
        <div class="data__type">{{'ANALYSIS.temperature' | translate}}</div>
        <div class="data__type">{{'ANALYSIS.coef' | translate}}: {{correlation.temperatureHumidity}}</div>
        <div class="data__type">{{'ANALYSIS.humidity' | translate}}</div>
      </div>
    </section>
    <section class="data">
      <div class="data__chart">
        <div echarts [options]="correlation.pressureHumidityChart"></div>
      </div>
      <div class="data__line"></div>
      <div class="data__sensor">
        <div class="data__type">{{'ANALYSIS.pressure' | translate}}</div>
        <div class="data__type">{{'ANALYSIS.coef' | translate}}: {{correlation.pressureHumidity}}</div>
        <div class="data__type">{{'ANALYSIS.humidity' | translate}}</div>
      </div>
    </section>
  </section>
</main>

<ng-template #loading>
  <div class="loading">
    {{'loading' | translate}}
  </div>
</ng-template>
