.wrapper {
  margin: 45px 10vw;
  max-width: 1600px;
}

.loading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 96px;
  text-align: center;
  color: var(--contrast);
  padding: 60px;
  width: 588px;
  margin: 0 auto;
}

.select-values {

  &__select {
    display: flex;
    justify-content: space-between;
  }

  &__slider-wrapper {
    width: 70%;
    padding: 0 114px;
    background: var(--neutral);
  }

  &__slider {
    width: 100%;
    height: 45px;
  }

  &__reload {
    height: 45px;
    width: 15%;
    background: var(--neutral);
    border: none;
    color: var(--light);
    text-align: center;
    font-size: 2vw;
    cursor: pointer;

    &:hover {
      background: var(--neutral-hover);
    }

    &:active {
      background: var(--neutral-active);
    }
  }
}

.chart-assembly {
  &__text {
    font-weight: 400;
    font-size: 2vw;
    color: var(--contrast);
    padding: 30px 0;
    transition-duration: 1s;
  }
}

.data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  &__chart {
    border: 10px solid var(--neutral);
    width: 70%;
  }

  &__line {
    background: var(--contrast);
    width: 10px;
    height: 200px;
    margin: auto 0;
    transition-duration: 1s;
  }

  &__sensor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__image {
    height: 100px;
  }

  &__type {
    background: var(--neutral);
    color: var(--light);
    font-size: 1.75vw;
    padding: 15px;
    width: 220px;
    text-align: center;
  }
}