<main class="wrapper">
  <section class="select-values">
    <div class="select-values__text">{{'STATISTIC.last' | translate}} 10...10000 {{'STATISTIC.values' | translate}}</div>
    <div class="select-values__select">
      <div class="select-values__slider-wrapper">
        <mat-slider class="select-values__slider">
          <input matSliderThumb>
        </mat-slider>
      </div>
      <input type="text" value="100" class="select-values__input">
    </div>
  </section>
  <section class="data">
    <div class="data__chart"></div>
    <div class="data__line"></div>
    <div class="data__sensor">
      <img src="./assets/img/temperature.svg" alt="temperature" class="data__image">
      <div class="data__type">{{'STATISTIC.temperature' | translate}}</div>
    </div>
  </section>
  <section class="data">
    <div class="data__chart"></div>
    <div class="data__line"></div>
    <div class="data__sensor">
      <img src="./assets/img/pressure.svg" alt="pressure" class="data__image">
      <div class="data__type">{{'STATISTIC.pressure' | translate}}</div>
    </div>
  </section>
  <section class="data">
    <div class="data__chart"></div>
    <div class="data__line"></div>
    <div class="data__sensor">
      <img src="./assets/img/humidity.svg" alt="humidity" class="data__image">
      <div class="data__type">{{'STATISTIC.humidity' | translate}}</div>
    </div>
  </section>
</main>
