<main class="wrapper" *ngIf="updateOptions$ | async as updateOptions; else loading">
  <section class="select-values" *ngIf="value$ | async as value">
    <div class="select-values__text">{{'STATISTIC.last' | translate}} {{value}} {{'STATISTIC.values' | translate}}</div>
    <div class="select-values__select">
      <div class="select-values__slider-wrapper">
        <mat-slider
          thumbLabel
          class="select-values__slider"
          tickInterval="10"
          step="10"
          [max]="maxValue"
          [min]="minValue"
          [formControl]="valueControl"
          [value]="value"
          aria-label="units">
        </mat-slider>
      </div>
      <input
        type="text"
        class="select-values__input"
        [formControl]="valueControl"
        [value]="value">
    </div>
  </section>
  <section class="data">
    <div class="data__chart">
      <div echarts [options]="options" [theme]="chartTheme" [merge]="updateOptions.temperature" ></div>
    </div>
    <div class="data__line"></div>
    <div class="data__sensor">
      <img src="./assets/img/temperature.svg" alt="temperature" class="data__image">
      <div class="data__type">{{'STATISTIC.temperature' | translate}}</div>
    </div>
  </section>
  <section class="data">
    <div class="data__chart">
      <div echarts [options]="options" [theme]="chartTheme" [merge]="updateOptions.pressure" ></div>
    </div>
    <div class="data__line"></div>
    <div class="data__sensor">
      <img src="./assets/img/pressure.svg" alt="pressure" class="data__image">
      <div class="data__type">{{'STATISTIC.pressure' | translate}}</div>
    </div>
  </section>
  <section class="data">
    <div class="data__chart">
      <div echarts [options]="options" [theme]="chartTheme" [merge]="updateOptions.humidity" ></div>
    </div>
    <div class="data__line"></div>
    <div class="data__sensor">
      <img src="./assets/img/humidity.svg" alt="humidity" class="data__image">
      <div class="data__type">{{'STATISTIC.humidity' | translate}}</div>
    </div>
  </section>
</main>

<ng-template #loading>
  <div class="loading">
      loading...
  </div>
</ng-template>
