<header class="wrapper">
  <nav class="navigation">
      <div class="link link--active">
          <div class="link__title">
              Current
          </div>
      </div>
      <div class="link">
          <div class="link__title">
              Statistic
          </div>
      </div>
      <div class="link">
          <div class="link__title">
              Help
          </div>
      </div>
  </nav>

  <div class="settings">
      <select class="language">
          <option value="en">EN</option>
          <option value="ru">RU</option>
      </select>
      <div class="theme">
          <div class="theme__mod">
              <span class="material-icons">
                  nightlight
              </span>
          </div>
          <div class="theme__mod theme__mod--active">
              <span class="material-icons">
                  light_mode
              </span>
          </div>
          <div class="theme__selector theme__selector--right"></div>
      </div>
  </div>
</header>
<div class="line"></div>
