@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import '~@angular/material/theming';
@include mat-core();

$control-theme-primary: mat-palette($mat-grey, 900);
$control-theme-accent: mat-palette($mat-blue, 500);

$control-theme: mat-light-theme($control-theme-primary,
        $control-theme-accent);

@include angular-material-theme($control-theme);

body {
    font-family: 'Roboto';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
