<main class="wrapper">
  <img src="./assets/img/pipe.svg" alt="" class="wrapper__img">
  <div class="wrapper__blure"></div>
  <section class="time">
      17:08:02
  </section>
  <section class="sensors">
      <div class="sensor">
          <div class="sensor__value">26°C</div>
          <img src="./assets/img/temperature.svg" alt="" class="sensor__image">
      </div>
      <div class="sensor">
          <div class="sensor__value">26Pa</div>
          <img src="./assets/img/pressure.svg" alt="" class="sensor__image">
      </div>
      <div class="sensor">
          <div class="sensor__value">26%</div>
          <img src="./assets/img/humidity.svg" alt="" class="sensor__image">
      </div>
  </section>
</main>
